<fieldset>
<legend>/Checkout</legend>
<div class="form-actions">
  <%= link_to 'Continue', convert_cart_to_order_path, :class => 'btn btn-primary', :method => :post %>
  <%= link_to 'Cancel', cart_show_path, :class => 'btn' %>
</div>
</fieldset>
