<h1>/User</h1>

<p>
  <b>Full Name</b><br>
  <span id="full_name"><%= @user.full_name %></span>
</p>

<p>
  <b>Display Name</b><br>
  <span id="display_name"><%= @user.display_name %></span>
</p>

<p>
  <b>Email Address</b><br>
  <span id="email_address"><%= @user.email_address %></span>
</p>

<div class="form-actions">
  <%= link_to 'Back', root_path, :class => 'btn'  %>
</div>