<h1>Contact Us</h1>
<div class="contact"> 
  <div id="contact_info">
    <div class="physical-address">
      <p>Our Store<br /> 
        1445 New York Ave NW<br /> 
        Washington, DC 20005
      </p> 
    </div>
    <div class="email-phone"> 
      <p>
        <a href="mailto:email@ourstore.com">email@ourstore.com</a><br /> 
        202-202-0000 
      </p> 
    </div> 
  </div> 
</div>

<div class="contact-form">
  <%= render :partial => "contact_form" %>  
</div> 