// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-form-actions{ 
  background: none;
  padding-left: 180px;
}

.new-product-form{ 
  padding-top: 25px;
}

.new-product-button{
  float: right;
}