/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
.body{
  padding-top: 50px;
}

.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}

.container {
position: relative;
width: 100%;
}

.footer{

  border-top: 2px solid #888;
  margin-top: inherit;
  margin-bottom: 25px;
  height: 100px;
}

.nav{
  float: right;
}


#navlist li{
float: right;
display: inline;
list-style-type: none;
padding-right: 20px;
}
.contact{ 
  display: inline-block;
  height: 200px;
  width: 300px;
}
#contact_info{
  padding-bottom: 25px;
}

.physical-address{
  padding-top: 25px;
  height: 65px;
  width: 300px;
}

.email-phone{
  padding-bottom: 25px;
  height: 79px;
  width: 300px;
}


.contact-form{
  height: 300px;
  width: 600px;
  float: right;
}


.contact-fullname{
  float: left;
  padding-right: 10px;
}
.contact-message{
  float: left;
}
