// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.keep-shopping{ 
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
}
.cart-form-actions{ 
  float: right;
}

#cart_item_price{ 
  text-align: right;
}

th, tr, td{ 
  vertical-align: middle;
}


/*img.cart_item_image { 
  height: 50px; width: 50px; 
}*/

.order-total{ 
  float: right;
}
