// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.keep-shopping{ 
  float: right;
  padding-top: 25px;
  padding-bottom: 25px;
}
.cart-form-actions{ 
  float: right;
  margin-top: 0px; 
  margin-bottom: 25px;
}

.cart_item_price{ 
  
}

th, tr, td{ 
  vertical-align: middle;
}

/*img.cart_item_image { 
  height: 50px; width: 50px; 
}*/
tr.order-total :hover{ 
  background-color: #FFFFFF;
}

td.total-label{ 
  float: right;
  border-top: 0px;
}

.checkout-form-actions{ 
  float: right;
  vertical-align: middle;
}