// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.keep-shopping{ 
  float: right;
  padding-top: 25px;
  padding-bottom: 25px;
}
.cart-form-actions{ 
  float: right;
  margin-top: 0px; 
  margin-bottom: 25px;
}

.cart{
  padding-left: -125px;
}

th, tr, td{ 
  vertical-align: middle;
}

/*img.cart_item_image { 
  height: 50px; width: 50px; 
}*/

td.total-label{ 
  float: right;
  border-top: 0px;
}

th.cart_item_price{ 
  text-align: right;
}

td.cart_item_price{ 
  text-align: right;
}

th.cart_item_total{ 
  text-align: right;
}

td.cart_item_total{ 
  text-align: right;
}

td.remove-item-cart{

}
.user-acct-info{ 
  padding-top: 25px;
  margin-bottom: 10px;
}
.checkout-form-actions{ 
  vertical-align: middle;
}

.addresses{ 
 display: inline;
}

.shipping-address{ 
  margin: 10px;
  margin-left: 25px;
  width: 250px;
  float: left;
} 
.billing-address{ 
  margin: 10px;
  margin-left: 25px;
  width: 250px;
  float: right;
}

.payment-info{ 
  margin: 10px; 
  margin-left: 25px;
  width: 250px;
}

#shipping_address_form{ 

}

#billing_address_form{ 

}