// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-form-actions{ 
  float: right;
}

.checkout-form-actions{ 
  float: right;
}


/*img.cart_item_image { 
  height: 50px; width: 50px; 
}*/

.order-total{ 
  float: right;
}
