// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-form-actions{ 
  float: right;
}

.checkout-form-actions{ 
  float: right;
}

.order_total{ 
  float: right;
  font-style: bold;
  text-decoration: none;

}

