// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-product-button{ 
  vertical-align: middle;
  float: right;
  padding-bottom: 25px;
  padding-right: 50px;
}

.products-table{ 
  padding-bottom: 25px;
}

.indiv-product-form-actions{ 
  padding-bottom: 25px;
}

.product-form-actions{ 
  background: none;
  padding-left: 180px;
}

.new-product-form{ 
  padding-top: 25px;
}

.new-product-button{
  float: right;
  padding-right: -15px;
}

p#filter_label{
  padding-top: 25px;
}