// Place all the styles related to the ProductCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new-cat-head{ 
  margin-top: 25px;
  margin-bottom: 10px;
}
.create-new-prod-cat{ 
  float: right;
}

.indiv-prod-cat-form-actions{ 
  background: none;
  margin-bottom: 25px;
}