// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.filter{ 
  padding-top: 25px;
}
.product-listings {

}

li.indiv-product {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 10px;
  position: relative;
  margin: 0 10px 20px 0;
  float: none;
 }

.prod-attributes{
  display: inline-block;
  width: 93%;
  position: absolute;
  background-color: rgba(136, 136, 136, 0.7);
  background-repeat:no-repeat;
  padding: 10px;
  margin: 0px;
  top: 215px;
}

#store_product_title{
 
}

img.store_product_image {
  height: 300px;
  width: 300px;
  overflow: hidden;
}

#add_to_cart{
  vertical-align: middle;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.pager{
  float: right;
  margin-bottom: 25px;
}

/*.container-fluid{ 
  background-image:url('http://apod.nasa.gov/apod/image/1102/rosette_lula_1700.jpg');
}*/