// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.filter{ 
  padding-top: 25px;
}

li.indiv-product {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 10px;
  position: relative;
  margin: 0 10px 20px 0;
  float: none;
 }

.prod-attributes{
  display: inline-block;
  width: 93%;
  position: absolute;
  background-color: rgba(136, 136, 136, 0.7);
  background-repeat:no-repeat;
  padding: 10px;
  margin: 0px;
  top: 215px;
}


img.store_product_image {
  height: 300px;
  width: 300px;
  overflow: hidden;
}

.add_to_cart{
  vertical-align: middle;
  float: right;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.pager{
  float: right;
  margin-bottom: 25px;
}

h1.index-prod-title{ 
  margin-top: 50px;
  margin-bottom: 10px;
}

#prod_price{ 
  float: right;
  margin-right: 10px;
  padding-top: 5px;
  vertical-align: middle;
}

#prod_descrip{ 
  margin-bottom: 10px;
}

#index_prod_image{ 
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
}

.prod-index-add{ 
  float: right;
  margin-right: 10px;
}

.prod-cat-list-title{ 
  margin-top: 10px;
  margin-bottom: 2px;
}

ul.product_categories{ 
  list-style-type: none;
}


