// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pager{
  float: right; 
}
ul.pager.li{ 
  
}

img.store_product_image { 
  height: 100px; width: 100px; 
}

footer-nav{
  float: right;
}
