// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pager{
  float: right;
  margin-bottom: 25px;
}
.product-listings {
  border-collapse: separate;
  border: 10px;
  margin-top: 50px;
  margin-bottom: 25px;
}
.product {
  border-collapse: separate;
  border-spacing: 10px;
}

.indiv-product {
  display: inline-block;
  border-collapse: separate;
  border-spacing: 10px;
  height: 125px;
  width: 325px;
 }

.prod-attributes{
  display: inline-block;

}

td.store_product_title{
  border-spacing: 10px;
}

img.store_product_image {
  height: 100px;
  width: 100px;
}

td.add_to_cart{
  vertical-align: middle;
}
