// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#signup_instructions{ 
  margin-top: 10px;
  padding-left: 5px;
}

.sign-up-form{ 
  width: 300px;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  /*border: 1px solid #888;*/
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  /*background: -moz-linear-gradient(19% 75% 90deg,#4E0085, #963AD6);
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6), to(#4E0085));*/
  -moz-box-shadow:0px -5px 300px #888;
  -webkit-box-shadow:0px -5px 300px #888;
}

.featured-items{ 

}

.sign-up-form-input{ 
  width: 230px;
  /*background ;*/
  padding-top: 35px;
  padding-left: 35px;
  margin-bottom: 10px;
}

.sign-up-form-actions{ 
  float: right;
}

.personal-info{ 
  padding-top: 25px;
  padding-bottom: 25px;
}

.login-info{ 
  padding-bottom: 25px;
}

<<<<<<< HEAD
h4.personal-login{
}
.personal-addresses{ 
  padding-bottom: 25px;
}

.user_shipping{ 
  padding-bottom: 25px;
}

.credit-card-info{ 
  padding-bottom: 25px;
}

.personal-orders{ 
  padding-bottom: 25px;
}
