// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#signup_instructions{ 
  margin-top: 10px;
  padding-left: 5px;
}

.sign-up-form{ 
  width: 300px;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid black;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  /*background: ;
  -moz-box-shadow:0px -5px 300px #270644;
  -webkit-box-shadow:0px -5px 300px #270644;*/
}

.sign-up-form-input{ 
  width: 230px;
  /*background;*/
  padding-top: 35px;
  padding-left: 35px;
  margin-bottom: 10px;
}

.sign-up-form-actions{ 
  float: right;
}