// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back-button{ 
  padding-left: 200px;
  padding-top: 10px;
}

.field{ 
  padding-top: 0px;
}

.login-form{ 
}